.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

:root {
    --mainDark: #343a40;
    --mainGray: rgba(109, 109, 109);
    --mainLightGray: rgba(172, 172, 172);
    --mainWhite: #fff;
    --mainBlue: #007bff;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

table {
    margin-left: 10px;
    margin-top: 5px;
}

td {
    padding-left: 15px;
    margin-left: 10px;
}

th {
    margin-left:5px;
    padding-left: 10px;
}

.navbar-brand {
    width: 30px;
}

.fa-solid{
    padding-right: 10px;
}

.main-container {
    height: 100%;
}

.flex-container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex: 1 1 auto;
        background-color: lightgray;
}


@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
